* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.inter-font {
    font-family: "Inter", sans-serif;
}

/* Nav Section */

#nav-section {
    background-color: #1A0B2E;
}

#nav-section hr {
    height: 1px;
    border: none;
    background: #999;
}

.nav-bar h1 {
    font-size: 50px;
    font-weight: 700;
    color: white;
}

.gradient-text {
    background: linear-gradient(180deg, #F7E93F, #FB09B4, #9100F8);

    background-clip: text;
    color: transparent;
}

.nav-bar {
    display: flex;
    width: 1200px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0 30px 0;
}

.nav-div a {
    text-decoration: none;
    color: #FFFFFF;
    margin-right: 30px;
    font-size: 16px;
    font-weight: 500;
}

.nav-btn {
    background: linear-gradient(180deg, #F7E93F, #FB09B4, #9100F8);
    padding: 12px 16px;
    border: none;
    border-radius: 50px;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;

}

.nav-btn i {
    margin-left: 10px;
}

/* Header Section */

#head-section {
    background: url(assets/hero-bg.png), url(assets/hero-circle.png), url(assets/microphone.png);

    background-color: #1A0B2E;
    height: 760px;
}

.head-div {
    text-align: center;
    position: relative;
    top: 450px;

}

.head-div h1 {
    font-size: 60px;
    font-weight: bolder;
    color: #FFFFFF;
    margin-bottom: 8px;
}

.head-div p {
    font-size: 16px;
    font-weight: 500;
    color: #FFFFFF;
    margin-bottom: 24px;
}

.head-btn1 img {
    margin-right: 8px;
    vertical-align: middle;
}

.head-btn1 {
    background: linear-gradient(180deg, #F7E93F, #FB09B4, #9100F8);
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 400;
    padding: 12px 20px;
    border-radius: 50px;
    border: none;
    margin-right: 8px;

}

.head-btn2 {
    font-size: 18px;
    font-weight: 400;
    padding: 12px 20px;
    border-radius: 50px;
    border: 2px solid #00FF88;
    color: #00FF88;
    background-color: transparent;

}

.head-btn2 img {
    margin-right: 8px;
}

/* About Section */

#about {
    background-color: #1A0B2E;
}

.about-container {
    width: 1200px;
    margin: 0 auto;
}

.about-container {
    text-align: center;
}

.about-contents h1 {
    font-size: 48px;
    color: #FFFFFF;
    font-weight: bold;
    margin-bottom: 16px;
}

.p-1 {
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 300;
    line-height: 30px;
    margin-bottom: 30px;
}

.p-2 {
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 300;
    line-height: 30px;
    margin-bottom: 80px;
}

.about-contents hr {
    height: 1px;
    border: none;
    background: #9999;
}

#about-tags{
    display: flex;
    justify-content: space-around;
    margin-top: 80px;
}

.tags-1 h1{
  font-size: 48px;
  font-weight: 900;
  color: #00FF88;
  margin-bottom: 16px;
}

.tags-1 p{
  font-size: 16px;
  font-weight: 400;
  color: #FFFFFF;
  margin-bottom: 120px;
}

