* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.inter-font {
    font-family: "Inter", sans-serif;
}

/* Nav Section */
header {
    background-color: #1A0B2E;

}

#nav-section {
    max-width: 1600px;
    width: 75%;
    margin: 0 auto;

}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0 30px 0;

}

.nav-div h1 {
    font-size: 55px;
    font-weight: 800;
    color: #ffffff;
}

div a {
    text-decoration: none;
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    margin-right: 30px;
}

.gradient-text {
    background: linear-gradient(180deg, #F7E93F, #FB09B4, #9100F8);
    background-clip: text;
    color: transparent;
}

.nav-btn {
    padding: 12px 16px;
    border-radius: 50px;
    border: none;
    font-size: 16px;
    font-weight: 400;
    color: #ffffff;
    background: linear-gradient(180deg, #F7E93F, #FB09B4, #9100F8);
}

.thin {
    height: 1px;
    border: none;
    background: #9999;
}

.nav-btn i {
    margin-left: 10px;
}

.ham-menu {
    display: none;
}

/* Small Device */

@media screen and (min-width:0px) and (max-width:576px) {

    .nav-div h1 {
        font-size: 40px;
        margin-left: 30px;
    }


    .a-1 {
        display: none;
    }

    .nav-btn {
        display: none;
    }

    .ham-menu {
        display: block;
        margin-right: 30px;
        height: 25px;
    }

}

/* Header-Section */

#head-section {
    background-color: #1A0B2E;
    background: url(assets/hero-bg.png);
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    height: 740px;
}

.head-container {
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;

}

.head-img {
    position: absolute;
    left: 50%;
    top: 280px;
    translate: -50% -50%;
    margin-top: 0px;
    align-items: center;
    justify-content: center;
    z-index: 12;
}


.circle {
    left: 50%;
    top: 280px;
    translate: -50% -50%;
    position: absolute;
}

.head-content {
    position: relative;
    top: 500px;
}

.head-content h1 {
    font-size: 60px;
    font-weight: bolder;
    color: #ffffff;
    margin-bottom: 8px;
}

.head-content p {
    font-size: 16px;
    color: #ffffff;
    font-weight: 300;
    margin-bottom: 24px;
}

.head-btn1 {
    padding: 12px 20px;
    align-items: center;
    font-size: 18px;
    font-weight: 400;
    background: linear-gradient(180deg, #F7E93F, #FB09B4, #9100F8);
    color: #ffffff;
    border: none;
    border-radius: 50px;

}

.head-btn1 img {
    vertical-align: middle;
    margin-right: 8px;
}

.head-btn2 {
    padding: 12px 20px;
    align-items: center;
    font-size: 18px;
    color: #00FF88;
    border: 2px solid #00FF88;
    border-radius: 50px;
    font-weight: 400;
    background-color: transparent;
    margin-left: 8px;
}

.head-btn2 img {
    margin-right: 10px;
}

 /* Animation */

 .new{
    animation: floatBlink 2s infinite;
 }

@keyframes floatBlink {
  0% {
    transform: translateY(0);
    opacity: 1;
  }

  50% {
    transform: translateY(-8px);
    opacity: 0.7;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.new {
    position: absolute;
    bottom: 210px;
    translate: -50% -50%;
    left: 150px;
    padding: 12px 14px;
    background-color: #00FF88;
    border: none;
    border-radius: 50px;
    font-size: 18px;
    font-weight: 600;
}

/* About Section */


#about-section {
    background-color: #1A0B2E;

}


.about-container {
    max-width: 1600px;
    width: 75%;
    margin: 0 auto;
}

.about-taxt h1 {
    color: #ffffff;
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    padding: 70px;
    padding-bottom: 16px;
}

.p-1 {
    font-size: 16px;
    font-weight: 300;
    color: #ffffff;
    line-height: 35px;
    text-align: center;
    margin-bottom: 40px;
}

.p-2 {
    font-size: 16px;
    font-weight: 300;
    color: #ffffff;
    line-height: 35px;
    text-align: center;
    margin-bottom: 80px;
}

.about-tags {
    display: flex;
    margin-top: 80px;
    justify-content: space-between;
}

.tag h1 {
    font-size: 48px;
    font-weight: 900;
    color: #00FF88;
    margin-bottom: 16px;
}


.tag p {
    font-size: 16px;
    font-weight: 400;
    color: #ffffff;
    margin-bottom: 120px;
}


/* Small Device */

@media screen and (min-width:0px) and (max-width:576px) {
    .about-tags {
        flex-wrap: wrap;
    }

    .tag h1 {
        margin-right: 20px;
    }


}


/* Cards Section */

#Card-section {
    background-color: #230E3D;
    padding-bottom: 120px;
}

#Card-section h1 {
    text-align: center;
    font-size: 48px;
    font-weight: bold;
    color: #ffffff;
    padding-top: 120px;
    padding-bottom: 40px;
}

.Card-Container {
    max-width: 1600px;
    width: 72%;
    margin: 0 auto;
}

.Card-Container {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: 225px, 225px, ;
    gap: 30px;
}

.Card-Container div:nth-child(1) {
    grid-column: span 3;
    grid-row: span 2;

}

.Card-Container div:nth-child(2) {
    grid-column: span 7;
}

.Card-Container div:nth-child(3) {
    grid-column:4 / span 7;

}

.Card-Container div:nth-child(4) {
    grid-column: span 7;
}

.Card-Container div:nth-child(5) {
    grid-column: span 3;
}

.card-1 {
    background-color: #351165;
    padding: 40px;
    border-radius: 40px;
    height: 100%;
}

.card-2 {
    background-color: #351165;
    padding: 40px;
    border-radius: 40px;
}

.card-3 {
    background-color: #351165;
    padding: 40px;
    border-radius: 40px;
}

.card-4 {
    background-color: #351165;
    padding: 40px;
    border-radius: 40px;
}

.card-5 {
    background-color: #351165;
    padding: 40px;
    border-radius: 40px;
}

.card-1 h3 {
    font-size: 24px;
    color: #ffffff;
    font-weight: bold;
    margin: 16px 0 16px 0;
}

.card-2 h3 {
    font-size: 24px;
    color: #ffffff;
    font-weight: bold;
    margin: 16px 0 16px 0;
}

.card-3 h3 {
    font-size: 24px;
    color: #ffffff;
    font-weight: bold;
    margin: 16px 0 16px 0;
}

.card-4 h3 {
    font-size: 24px;
    color: #ffffff;
    font-weight: bold;
    margin: 16px 0 16px 0;
}

.card-5 h3 {
    font-size: 24px;
    color: #ffffff;
    font-weight: bold;
    margin: 16px 0 16px 0;
}

.card-1 p{
    font-size: 16px;
    color: #ffffff;
    font-weight: 200;
}
.card-2 p{
    font-size: 16px;
    color: #ffffff;
    font-weight: 200;
}
.card-3 p{
    font-size: 16px;
    color: #ffffff;
    font-weight: 200;
}
.card-4 p{
    font-size: 16px;
    color: #ffffff;
    font-weight: 200;
}
.card-5 p{
    font-size: 16px;
    color: #ffffff;
    font-weight: 200;
}

/* Small Device */

@media screen and (min-width:0px) and (max-width:576px) {
    .Card-Container{
        display: flex;
        flex-direction: column;
    }

}

/* Featured Section */


#Featured-Section {
    background-color: #1A0B2E;
}

.Featured-Content {
    max-width: 1600px;
    width: 72%;
    margin: 0px auto;
}


.H1 {
    font-size: 48px;
    color: #ffffff;
    text-align: center;
    font-weight: bold;
    padding-top: 120px;
    padding-bottom: 40px;
}

.Featured-Container {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}


.Ep-1 {
    background-color: #250D44;
    border-radius: 24px;
}

.Ep-1 iframe {
    width: 380px;
    height: 214px;
    border-radius: 24px 24px 0 0;

}

.Ep-1 h1 {
    color: #ffffff;
    font-size: 24px;
    font-weight: bold;
    padding: 24px 24px 12px 24px;
}

.Ep-1 p {
    color: #ffffff;
    font-size: 16px;
    font-weight: 200;
    padding: 12px 24px 12px 24px;
}

.Ep-1 h3 {
    color: #00FF88;
    font-size: 16px;
    font-weight: 500;
    padding: 12px 24px 24px 24px;
}

.Ep-1 h3 i {
    color: #00FF88;
    font-size: 16px;
    color: #00FF88;
    margin-right: 8px;
}


/* Small Device */

@media screen and (min-width:0px) and (max-width:576px) {
    .Featured-Container {
        flex-direction: column;

    }

    .Ep-1 h1 {
        font-size: 32px;
        gap: 0;
    }

    .Ep-1 iframe {
        width: 100%;

    }
}


/* Host Section */

#Host-section {
    padding-bottom: 120px;
}

.Host-content {
    max-width: 1600px;
    width: 72%;
    margin: 0 auto;
}

.Host-content h1 {
    font-size: 48px;
    color: #ffffff;
    font-weight: bold;
    padding-top: 120px;
    padding-bottom: 40px;
    text-align: center;

}

.Host-Container {
    background-color: #250D44;
    display: flex;
}

.Host-Container img {
    margin-right: 24px;
}

.Host-Container {
    padding: 40px;
    align-items: center;
    justify-content: center;
    border-radius: 40px;
}



.Host-contents h2 {
    color: #ffffff;
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 16px;
}

.Host-contents p {
    font-size: 16px;
    font-weight: 200;
    color: #ffffff;
    margin-bottom: 20px;
}

.Host-contents ul {
    display: flex;
}

.Host-contents li {
    list-style: none;

}


.Host-contents a {
    padding: 10px;
}



/* Small Device */


@media screen and (min-width:0px) and (max-width:576px) {


    .Host-Container {
        flex-direction: column;
    }

    .Host-content h1 {
        font-size: 38px;
    }

    .Host-Container img {
        margin-bottom: 15px;
    }



}


/* Footer Section  */

#footer {
    background: url(assets/footer-bg.png);
    background-position: center;
    text-align: center;

}


.gradient-text-2 {
    background: linear-gradient(180deg, #F7E93F, #FB09B4, #9100F8);
    background-clip: text;
    color: transparent;
    font-size: 48px;
}

.footer-contents h1 {
    font-size: 48px;
    color: #ffffff;
    font-weight: bold;
    margin-bottom: 32px;

}


.footer-container {
    align-items: center;
    justify-content: center;
    padding: 120px 0;

}

.footer-img a {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.footer-img img {
    margin-right: 10px;
}

.copyright h3 {
    margin-top: 32px;
    font-size: 16px;
    color: #ffffff;
    font-weight: 200;
}