* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.inter-font {
    font-family: "Inter", sans-serif;
}

/* Nav Section with Responsive */
header {
    background-color: #1A0B2E;

}

#nav-section {
    max-width: 1600px;
    width: 75%;
    margin: 0 auto;

}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0 30px 0;

}

.nav-div h1 {
    font-size: 55px;
    font-weight: 800;
    color: #ffffff;
}

div a {
    text-decoration: none;
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    margin-right: 30px;
}

.gradient-text {
    background: linear-gradient(180deg, #F7E93F, #FB09B4, #9100F8);
    background-clip: text;
    color: transparent;
}

.nav-btn {
    padding: 12px 16px;
    border-radius: 50px;
    border: none;
    font-size: 16px;
    font-weight: 400;
    color: #ffffff;
    background: linear-gradient(180deg, #F7E93F, #FB09B4, #9100F8);
}

.nav-btn i {
    margin-left: 10px;
}

.ham-menu {
    display: none;
}

/* Small Device */

@media screen and (min-width:576px) and (max-width:992px) {

    .nav-div h1 {
        font-size: 40px;
        margin-left: 30px;
    }


    div a {
        display: none;
    }

    .nav-btn {
        display: none;
    }

    .ham-menu {
        display: block;
        margin-right: 30px;
        height: 25px;
    }

}

/* Header-Section with Responsive */

#head-section {
    background-color: #1A0B2E;
    background: url(assets/hero-bg.png);
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    height: 740px;
}

.head-container {
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;

}

.head-img {
    position: absolute;
    left: 50%;
    top: 280px;
    translate: -50% -50%;
    margin-top: 0px;
    align-items: center;
    justify-content: center;
    z-index: 12;
}


.circle {
    left: 50%;
    top: 280px;
    translate: -50% -50%;
    position: absolute;
}

.head-content {
    position: relative;
    top: 500px;
}

.head-content h1 {
    font-size: 60px;
    font-weight: bolder;
    color: #ffffff;
    margin-bottom: 8px;
}

.head-content p {
    font-size: 16px;
    color: #ffffff;
    font-weight: 500;
    margin-bottom: 24px;
}

.head-btn1 {
    padding: 12px 20px;
    align-items: center;
    font-size: 18px;
    font-weight: 400;
    background: linear-gradient(180deg, #F7E93F, #FB09B4, #9100F8);
    color: #ffffff;
    border: none;
    border-radius: 50px;

}

.head-btn1 img {
    vertical-align: middle;
    margin-right: 8px;
}

.head-btn2 {
    padding: 12px 20px;
    align-items: center;
    font-size: 18px;
    color: #00FF88;
    border: 2px solid #00FF88;
    border-radius: 50px;
    font-weight: 400;
    background-color: transparent;
    margin-left: 8px;
}

.head-btn2 img{
    margin-right: 10px;
}